<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call</title>
    <style>
        .main{
            background-color: cornflowerblue;
        }
    </style>


</head>
<body>
    <div class="main">
        <div>
            <h1>WELCOME TO VIDEO CALL</h1>
        </div>
        <div>
          <a href="meeting"><button>Create Meeting</button></a>
          <a href="join"><button>Join Meeting</button></a>
          <a href="#"><button>Logout</button></a>

        </div>

    </div>
</body>
</html>