<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} medio</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/docvisit_all.css')}}">
    <script src="https://kit.fontawesome.com/e6e06b41da.js" crossorigin="anonymous"></script>
</head>

<body>
    {% block body %}

    {% endblock %}


    <nav>
        <header>
            <div class="logo">
                <img src="{{url_for('static',filename='images/2.jpg')}}" alt="Logo">
            </div>
        </header>
        <div class="logo">
            <p>MEDICO</p>
        </div>
        <ul>
            <li class="dropdown">
                <a href="doctorvisit">All Doctor's specialist</a>
                    <div class="dropdown-content">
                        <a href="gc">General Doctor</a>
                        <a href="skin">Skin Doctor</a>
                        <a href="eye">Eye Doctor</a>
                        <a href="cardio">Cardio Doctor</a>
                    </div>
                </div>
            </li>

            <li><a href="gc">General Doctor</a></li>
            <li><a href="skin">Skin Doctor</a></li>
           
            <li><a href="eye">Eye Doctor</a></li>
            <li><a href="cardio">cardio Doctor</a></li>
            <li><a href="register">profile</a></li>    <!-- profile link bending-->
            <li><a href="logout">logout</a></li>
            <li><a href="https://www.google.com/maps" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-map-marker-alt"></i>
                </a></li>
        </ul>

        <!-- <ul>
            <li><a href="doctorvisit">All</a></li>
            <li><a href="gc">General Doctor</a></li>
            <li><a href="skin">Skin Doctor</a></li>
            <li><a href="eye">Eye Doctor</a></li>
            <li><a href="cardio">Cardiologist</a></li>
        </ul> -->
    </nav>
    <div class="cards">
        <div class="card">
            <div class="image">
                <img src="{{url_for('static',filename='images/gd.jpg')}}" alt="">
            </div>
            <div class="content">
                <h1 class="heading">GENERAL PHYSICIAN</h1>
                <p class="desc"> Dr. K. Satish (MBBS)</p>
                <div class="follow-box">
                    <div class="follow">
                        <a href="#"><i class="fa-solid fa-location-dot"></i></a>  <!-- location link complete -->>
                        <p>Address:- No 19 A, 1st Floor, Anderson Road, Landmark: Near Olympiya Paper and Stationary.,
                            Chennai, Tamil Nadu - 600011.</p>
                    </div>
                    <div class="follow">
                        <i class="fa-regular fa-calendar-check"></i>
                        <p>Mon - Fri: 9 am - 9 pm</p>
                    </div>
                </div>
                <div class="sep">
                    <div class="seps">
                       <a href="dashbord"> <i class="fa-solid fa-phone"></i></a>
                        <p>9952660462</p>
                    </div>
                    <div class="seps">
                        <i class="fa-solid fa-diamond-turn-right"></i>
                        <p>Directions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="{{url_for('static',filename='images/gd1.jpg')}}" alt="">
            </div>
            <div class="content">
                <h1 class="heading">GENERAL PHYSICIAN</h1>
                <p class="desc"> Dr. M Divya (MBBS)</p>
                <div class="follow-box">
                    <div class="follow">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Address:- No 2, McNichols Road, 3rd Lane, Landmark: Near Shoppers Stop Behind The Pitbull
                            Store, Chennai , Tamil Nadu - 600023.</p>
                    </div>
                    <div class="follow">
                        <i class="fa-regular fa-calendar-check"></i>
                        <p>Mon - Sat: 5 pm - 9 pm</p>
                    </div>
                </div>
                <div class="sep">
                    <div class="seps">
                        <i class="fa-solid fa-phone"></i>
                        <p>8952160462</p>
                    </div>
                    <div class="seps">
                        <i class="fa-solid fa-diamond-turn-right"></i>
                        <p>Directions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="cards">       
        <div class="card">
            <div class="image">
                <img src="{{url_for('static',filename='images/skin.webp')}}" alt="">
            </div>
            <div class="content">
                <h1 class="heading">SKIN SPECIALIST</h1>
                <p class="desc"> Dr.ARUN RANGANATHAN, MD(CARDIOLOGY)</p>
                <div class="follow-box">
                    <div class="follow">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Address:- No 747, Poonamallee High Rd, Alagappa Nagar, Telecom Quarters, Kilpauk, Chennai,
                            Tamil
                            Nadu 600031.</p>
                    </div>
                    <div class="follow">
                        <i class="fa-regular fa-calendar-check"></i>
                        <p>Mon - Fri: 5 pm - 8 pm</p>
                    </div>
                </div>
                <div class="sep">
                    <div class="seps">
                        <i class="fa-solid fa-phone"></i>
                        <p>9841260462</p>
                    </div>
                    <div class="seps">
                        <i class="fa-solid fa-diamond-turn-right"></i>
                        <p>Directions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="{{url_for('static',filename='images/skin1.png')}}" alt="">
            </div>
            <div class="content">
                <h1 class="heading">SKIN SPECIALIST</h1>
                <p class="desc"> Dr. Deepesh Venkatraman(CARDIOLOGY)</p>
                <div class="follow-box">
                    <div class="follow">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Address:- No 89/1, Ground Floor, Sarasu Apartment , 5th Street, Shanthi Colony., Landmark:
                            Near Dindugal Thalapakatti, Chennai.</p>
                    </div>
                    <div class="follow">
                        <i class="fa-regular fa-calendar-check"></i>
                        <p>Mon - Sat: 9 am - 1 pm</p>
                    </div>
                </div>
                <div class="sep">
                    <div class="seps">
                        <i class="fa-solid fa-phone"></i>
                        <p>6384154552</p>
                    </div>
                    <div class="seps">
                        <i class="fa-solid fa-diamond-turn-right"></i>
                        <p>Directions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <div class="image">
                <img src="{{url_for('static',filename='images/eye.jpg')}}" alt="">
            </div>
            <div class="content">
                <h1 class="heading">EYE SPECIALIST</h1>
                <p class="desc"> Dr Shandeep Kumar(M.B.B.S,D.O)</p>
                <div class="follow-box">
                    <div class="follow">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Address:- No 82, Muthumariamman Swamy Koil Street, Chinnaiyan Colony Nagar, Perambur Mills
                            Road,
                            Chennai, Tamil Nadu
                            600039.
                        </p>
                    </div>
                    <div class="follow">
                        <i class="fa-regular fa-calendar-check"></i>
                        <p>Mon - Sun: 8 am - 8 pm</p>
                    </div>
                </div>
                <div class="sep">
                    <div class="seps">
                        <i class="fa-solid fa-phone"></i>
                        <p>7738360462</p>
                    </div>
                    <div class="seps">
                        <i class="fa-solid fa-diamond-turn-right"></i>
                        <p>Directions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="{{url_for('static',filename='images/eye1.jpg')}}" alt="">
            </div>
            <div class="content">
                <h1 class="heading">EYE SPECIALIST</h1>
                <p class="desc"> Dr Arulmozhi Varman(Ophthalmologist)</p>
                <div class="follow-box">
                    <div class="follow">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Address:- No 55, Karthik Tiffin Centre , Uma Eye Clinic , Right Opposite To Hotchips , Anna
                            Nagar
                            West , Chennai , Tamil Nadu 600025.</p>
                    </div>
                    <div class="follow">
                        <i class="fa-regular fa-calendar-check"></i>
                        <p>Mon - Sun: 7 am - 8 pm</p>
                    </div>
                </div>
                <div class="sep">
                    <div class="seps">
                        <i class="fa-solid fa-phone"></i>
                        <p>9938360462</p>
                    </div>
                    <div class="seps">
                        <i class="fa-solid fa-diamond-turn-right"></i>
                        <p>Directions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <div class="image">
                <img src="{{url_for('static',filename='images/heart.jpg')}}" alt="">
            </div>
            <div class="content">
                <h1 class="heading">HEART SPECIALIST</h1>
                <p class="desc"> Dr Arun Ranganathan(Cardiologist)</p>
                <div class="follow-box">
                    <div class="follow">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Address:- No 4, Ground Floor, Hajiyan Complex, 163, KH Road, Konnur High Road, Ramanuja Nagar
                            Road, Venkatesapuram Colony, Ayanavaram.</p>
                    </div>
                    <div class="follow">
                        <i class="fa-regular fa-calendar-check"></i>
                        <p>Mon - Sun: 8 am - 8 pm</p>
                    </div>
                </div>
                <div class="sep">
                    <div class="seps">
                        <i class="fa-solid fa-phone"></i>
                        <p>7738360462</p>
                    </div>
                    <div class="seps">
                        <i class="fa-solid fa-diamond-turn-right"></i>
                        <p>Directions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="{{url_for('static',filename='images/heart2.jpg')}}" alt="">
            </div>
            <div class="content">
                <h1 class="heading">HEART SPECIALIST</h1>
                <p class="desc"> Dr Deepika Lunawat(Psoriasis Treatment)</p>
                <div class="follow-box">
                    <div class="follow">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Address:- No 60, Mulla Sahib Street, Sowcarpet, George Town near the matriculation school backside pathway, Chennai, Tamil Nadu 600079.</p>
                    </div>
                    <div class="follow">
                        <i class="fa-regular fa-calendar-check"></i>
                        <p>Mon - Sun: 7 am - 8 pm</p>
                    </div>
                </div>
                <div class="sep">
                    <div class="seps">
                        <i class="fa-solid fa-phone"></i>
                        <p>9938360462</p>
                    </div>
                    <div class="seps">
                        <i class="fa-solid fa-diamond-turn-right"></i>
                        <p>Directions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>